<div class="flex justify-center">

  <div class="w-[600px] text-center text-gray-500">

    <h3 class="text-4xl font-bold ">
      Why skillUp?
    </h3>
    <p class="font-semibold text-[16.5px]">
      In the age of AI, stand-out by
      <strong class="text-green-600">
        mastering concepts
      </strong>
      ,
      <span class="text-red-400">
        NOT just copy-paste
      </span>.
    </p>

  </div>
</div>

<div class="grid grid-cols-5 -mt-8 mb-2 cursor-pointer">

  <app-card [title]="'Learn Deeply'">
    <span icon>
      <img src="/images/video Learn.png" alt="Track" width="64" height="64" loading="lazy" class="w-16 h-16" />
    </span>
  </app-card>

  <app-card [title]="'Practice Real Problems'">
    <span icon class="p-2">
      <img src="/images/understand.png" alt="Track" width="64" height="64" loading="lazy" class="w-20 h-16 p-1" />
    </span>
  </app-card>

  <app-card [title]="'Quiz'">
    <span icon>
      <img src="/images/quiz5.png" alt="Track" width="64" height="64" loading="lazy" class="w-16 h-16" />
    </span>
  </app-card>

  <app-card [title]="'Track Your Growth'">
    <span icon>
      <img src="/images/measure3.png" alt="Track" width="64" height="64" loading="lazy" class="w-16 h-16" />
    </span>
  </app-card>

  <app-card [title]="'Interview Arena'">
    <span icon>
      <img src="/images/arena.png" alt="Track" width="64" height="64" loading="lazy" class="w-24 h-18" />
    </span>
  </app-card>

</div>