<div class="flex justify-center -mt-24">

  <div class="w-[600px] text-center text-gray-500">

    <h3 class="text-4xl font-bold ">
      Why skillUp?
    </h3>
    <p class="font-semibold text-[16.5px]">
      In the age of AI, stand-out by 
      <strong
        class="text-green-600">
        mastering concepts
      </strong>
      , 
      <span class="text-red-400">
      NOT just copy-paste
      </span>.
    </p>
    
  </div>
</div>

<div class="grid grid-cols-4 -mt-8 mb-2">

  <app-card title="Learn deeply">
    <span icon><img src="/images/video Learn.png" class="cursor-pointer" />
    </span>
  </app-card>

  <app-card title="Practice Real Problems">
    <span icon><img src="/images/understand.png" class="cursor-pointer" />
    </span>
  </app-card>

  <app-card title="Quiz">
    <span icon><img src="/images/quiz5.png" class="cursor-pointer" />
    </span>
  </app-card>

  <app-card title="Track Your Growth">
    <span icon><img src="/images/measure3.png" class="cursor-pointer" />
    </span>
  </app-card>

</div>
