<app-container>

  <nav class="flex justify-between items-center h-16 ">

    <div class="-ml-10">
      <img src="/images/logo.png" alt="Logo" class="h-36 mt-4 cursor-pointer" />
    </div>

    <div class="flex gap-6 font-semibold text-gray-500">
      <button class="cursor-pointer">Learning Path</button>
      <button class="">Practice</button>
      <button class="">Resources</button>
      <button class="border border-sky-300 rounded-lg px-4">Log in</button>
      <app-button>Get Started Free</app-button>
    </div>

  </nav>

</app-container>
