<app-container>

  <nav class="flex justify-between items-center h-16 ">

    <div class="z-10 -ml-6">
      <!-- <img src="/images/logo.png" alt="SkillUp Logo" width="140" height="48" class="h-24 w-36 cursor-pointer" /> -->
    </div>

    <div class="flex gap-6 font-semibold text-gray-500 z-10">
      <button>Learning Path</button>
      <button>Practice</button>
      <button>Resources</button>
      <button class="border border-sky-300 rounded-lg px-4">Log in</button>
      <app-button>Get Started Free</app-button>
    </div>

  </nav>

</app-container>
